<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 文件输出日志(DEBUG) -->
	<appender name="debug-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/semsAir-debug.log</File>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>logs/history/semsAir-debug-%d{yyyy-MM-dd}.log</fileNamePattern>
	      <maxHistory>60</maxHistory>
	    </rollingPolicy>
		<encoder charset="UTF-8">
			<Pattern>[%d{HH:mm:ss}] [%thread] |%level| %marker %logger{50} -> %X{rpid} %msg %n%ex</Pattern>
		</encoder>
	</appender>

	<!-- 文件输出日志(SQL) -->
	<appender name="sql-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/semsAir-sql.log</File>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator name="dao">
				<expression>marker.contains("MYBATIS")</expression>
			</evaluator>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/history/semsAir-sql-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<Pattern>[%d{HH:mm:ss}] [%thread] |%level| %marker %logger{50} -> %X{rpid} %msg %n%ex</Pattern>
		</encoder>
	</appender>

	<!-- 文件输出日志(ERROR) -->
	<appender name="error-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/semsAir-error.log</File>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
	      <level>error</level>
	      <onMatch>ACCEPT</onMatch>
	      <onMismatch>DENY</onMismatch>
	    </filter>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>logs/history/semsAir-error-%d{yyyy-MM}.log</fileNamePattern>
	      <maxHistory>12</maxHistory>
	    </rollingPolicy>
		<encoder charset="UTF-8">
			<Pattern>[%d{dd|HH:mm:ss}] [%thread] |%level| %marker %logger{50} -> %X{rpid} %msg %n%ex</Pattern>
		</encoder>
	</appender>

	<!-- 异步输出 -->
	<appender name="async-debug-file" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>1000</queueSize>
		<appender-ref ref="debug-file" />
	</appender>
	<appender name="async-sql-file" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>1000</queueSize>
		<appender-ref ref="sql-file" />
	</appender>
	<appender name="async-error-file" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>1000</queueSize>
		<appender-ref ref="error-file" />
	</appender>

    <logger name="com.air" level="debug" additivity="false">
		<appender-ref ref="async-debug-file" />
	</logger>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss} |%5le| %logger{50} => %msg %n%ex</pattern>
		</layout>
	</appender>

    <logger name="java.sql.Connection" level="DEBUG"/>

	<logger name="java.sql.PreparedStatement" level="DEBUG"/>

	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="async-debug-file" />
		<appender-ref ref="async-error-file"/>
		<appender-ref ref="async-sql-file" />
	</root>

</configuration>