<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.air.mapper.AirWxInfoMapper" >
  <resultMap id="BaseResultMap" type="com.air.pojo.AirWxInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="secret" property="secret" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appid, secret
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from air_wxinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllAirWxInfo" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM air_wxinfo
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from air_wxinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.air.pojo.AirWxInfo" >
    insert into air_wxinfo (id, appid, secret
      )
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.air.pojo.AirWxInfo" >
    insert into air_wxinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="secret != null" >
        secret,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        #{secret,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.air.pojo.AirWxInfo" >
    update air_wxinfo
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        secret = #{secret,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.air.pojo.AirWxInfo" >
    update air_wxinfo
    set appid = #{appid,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>